version = 0.1

[default.deploy.parameters]
stack_name = "aws-billing-to-slack"
s3_bucket = ""  # SAM will create a bucket if not specified
s3_prefix = "aws-billing-to-slack"
region = "us-east-1"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = [
    "SlackWebhookUrl=",
    "GroupBy=SERVICE",
    "GroupLength=10"
]